body {
  background-color: rgb(245, 250, 248);
}

.gog-logo-class {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.nav-link {
  color: white;
}
.bi {
  margin-left: 20px;
  margin-right: 10px;
}
.card {
  margin-right: 15px;
}
.table-image {
  width: 180px;
  height: 100px;
  object-fit: contain;
}
td {
  float: right;
}
.last-content {
  height: 200px;
  width: 200px;
}
.last-images {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: rgb(68, 61, 61);
}
.btn-success {
  position: absolute;
  z-index: 2;
  margin-left: 53%;
  margin-top: 19%;
  width: 200px;
}
.imgcontainer {
  height: 500px;
  width: 400px;
  object-fit: fill;
}
p {
  font-size: large;
}
